/*
font-family: 'Lato', sans-serif;



*/


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
body{
    font-family: 'Lato', sans-serif;

}
.hover_opacity:hover{
    opacity: 0.7;
    transition: opacity 0.5s;
}
/*Top header*/

.header{
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: white;

}
.header .logo{
    margin: auto 0px;
}
.header .logo img{
    width: 100%;
    height: 100%;
}
.header nav{
    margin: auto 0px;
}
.header .container{
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    padding: 9px 40px;
    justify-content: space-between;
}
.header ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.header li{
    flex: 1 1 0;


}

.header li a{
    display:  block;
    color: black;
    text-transform: capitalize;
    
    padding: 15px;
}
.header li a::after{
    content: "";
    height: 3px;
    display: block;
    background-color: #6195ff;
    transition: width 0.4s;
    margin-top: 3px;
}
.header li a.active::after , .header li a:hover::after{
    width: 100%;
}
.header li a::after{
    width: 0%;
}
a.drop{
    position: relative;
    
}



 .drop_menu{
    position: absolute;
    background: #6195ff;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    top: 77%;
    left: -20%;
    visibility:hidden;
    opacity: 0;
    transition: opacity 0.5s;
}
a.drop:hover .drop_menu{
    visibility: visible;
    opacity: 1;
}
/* Gelneral Tital of sections */
.section_tital{
    text-align: center;
    margin: 20px 0px;


}
.section_tital h1{
    margin-bottom: 10px;

}
.section_tital p{
    margin: auto;
    display: block;
    width: 50px;
    height: 4px;
    background-color:#6195ff;
}






/*Home Section*/

.home{
    position: relative;
    background-image: url(../images/background/background1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.opacity{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.home_content{
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}
.home_content h1{
    font-weight: bolder;
    font-size: xxx-large;
    margin-bottom: 20px;

}
.home_content p{
    letter-spacing: 2px;
    line-height: 25px;
   

}
.home_content button{
    width: 150px;
    height: 42px;
    border: none;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;
}

.home_content .button_left{
    margin-right: 10px;
    background-color: white;
    color: black;
}

.home_content .button_right{
    background-color: #6195ff;
    color: white;
}
/*Features* of web site*/
.features{

}
.features .iteme{
    position: relative;
    width: 30%;
    border: 0.5px #efefef solid;
    text-align: center;
    padding: 10px;
    float: left;
}
.features .iteme i{
    color: #6195ff;
    font-size: 30px;
    margin-top: 20px;

}
.features .iteme .item_title{
    margin: 20px 0;
    text-transform: capitalize;
    transition: color 0.5s;

}
.features .iteme p{
    line-height: 20px;
    color: gray;
}
.features .iteme a{
    color: #6195ff;
    margin-top: 20px;
    display: inline-block;
}
.features .item_mid{
    margin: 0 33px;
}.iteme::after{
    content: "";
    background-color: #333;
    width: 0%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: width 0.5s;
    z-index: -1;
}
.iteme:hover::after{
    width: 100%;
}
.iteme:hover .item_title{
    color: white;
}


@media only screen and (max-width: 990px) {
    .header .container{
        justify-content: center;
    }
    .header .logo{
        width: 100px;
    }
  }